
:root {
    --size-button-like: 26px; 
    --size-thumbs-up:   28px;
    --size-image:       220px;
    --size-image-gap:   20px;
    --size-description: 200px;

    --border-radius-small: 10px;

    --color-button-like:    hsla(360, 80%, 60%, 1);
    --color-thumbs-up:      hsla(210, 80%, 40%, 1);

    --box-shadow-card:      hsla(220, 20%, 50%, 1) 0px 1px 4px;
}



.image-card {
    /* border: 1px solid green; */
    border-radius: var(--border-radius-small);
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:     220px 50px;
    grid-template-areas:    "image image"
                            "info info";
    width: 220px;
    box-shadow: var(--box-shadow-card);
}

.image {
    /* border: 1px solid blue; */
    width: var(--size-image);
    height: var(--size-image);
    border-top-left-radius: var(--border-radius-small);
    border-top-right-radius: var(--border-radius-small);
    grid-area: image;
    object-fit: cover;
    transition: transform 0.8s;
}


.image-description,
.image:hover {
    cursor: pointer;
}


.image-description {
    /* border: 1px solid yellow; */
    border-radius: 5px;
    display: grid;
    grid-area: image;
    font-size: 1.25rem;
    width: var(--size-description);
    height: var(--size-description);
    border-top-left-radius: var(--border-radius-small);
    border-top-right-radius: var(--border-radius-small);
    padding: 10px;
    align-items: center;

}



/* .image-description:active {
    transform: rotateY(180deg);
} */

.image-info {
    display: grid;
    grid-area: info;
    grid-template-columns: .33fr 1fr;
    grid-template-areas: "like text";
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-tagline {
    font-size: .85rem;
    display: grid;
    grid-area: text;
    text-align: center;
}

.fa-thumbs-up,
.like-count {
    display: grid;
    grid-area: like;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto; 
    border-radius: 50%;
    border: none;
    font-size: .8rem;
    cursor: pointer;
    size: 5x;
    position: relative;
}

.fa-thumbs-up:active {
    transform: scale(1.45);
    transition: 100ms;
    z-index: 3;
}

.like-count {
    z-index: 2;
    font-size: 8px;
    position: absolute;
    bottom: 28px;
    left: 35px;
    width: var(--size-button-like);
    height: var(--size-button-like);
    background-color: var(--color-button-like);
    color: white;
}

.fa-thumbs-up { 
    z-index: 1;
    width: var(--size-thumbs-up);
    height: var(--size-thumbs-up);
    transform: scale(1.32);
    background-color: var(--color-thumbs-up);
    color: white;
}

.hidden {
    display: none;
}