* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.app-container {
  border: 1px solid red;
  text-align: center;
}

.app-header {
  border-bottom: 1px solid gray;
  padding: 1em;
  color: gray;
  margin: 20px 8% 40px 8%;
}

.app-title {
  font-size: 1.5em;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
