

.image-container{
    /* border: 1px solid red; */
    max-width: 700px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-image-gap);
    justify-content: center;
}




/* starts out at border radius 50% */
/* on hover border radius goes to 10px */

/* .image-container:hover {
    border: 1px solid red;
    transform: scale(1.25);
} */